@model DicentDraw.Models.ViewModels.AddDessertViewModel

@{
    ViewBag.Title = "購買明細";
}
@section Scripts{
    <script>
        function OnRemove(e) {
            location.reload();
        }
    </script>
}
<h2 class="col-lg-12 text-success">購買明細</h2>
<h3 class="col-md-12 text-center">使用禮盒: @ViewBag.Box</h3>
<div class="col-md-12">
    @(Html.Kendo()
.Grid<DicentDraw.Models.ViewModels.AddDessertViewModel>()
.Name("DessertDetail")
    .Columns(columns =>
    {
        columns.Bound(x => x.DessertName).Title("點心名稱");
        columns.Bound(x => x.DessertPrice).Title("單價");
        columns.Bound(x => x.DessertAmount).Title("數量");
        columns.Template(x => x.DessertPrice * x.DessertAmount).Title("小計").ClientTemplate("#:DessertPrice*DessertAmount#")
         .FooterTemplate("總共:" + ViewBag.Total + "元(加上禮盒價格)");
    })
                    .Pageable()
                    .DataSource(datasource =>
                                                datasource
                                                .Ajax()
                                                .Model(model => model.Id(d => d.DessertID))
                                                                .Read("Read_BoxDetail", "BoxBuy")
                                                .PageSize(5)
                                                                )))
    <h3 class="text-danger">若確認購買請填寫送貨地點</h3>
    @using (Html.BeginForm())
    {
        <h4>@Html.DisplayNameFor(Model => Model.DeliveryAddress)</h4>
        @Html.EditorFor(Model => Model.DeliveryAddress, new { htmlAttributes = new { @class = "k-textbox" } })
        @Html.ValidationMessageFor(Model => Model.DeliveryAddress, "", new { @class = "text-danger" })
        <p><input type="submit" value="確定" class="k-button" style="height:30px;" />@Html.ActionLink("取消購買", "Cancel", null, new { @class = "k-button", style = "height:30px;" })</p>

    }
</div>
